.d2mh {
    background-image: url("../images/minimap_hero_sheet.png");
    background-repeat: no-repeat;
    display: inline-block;
}


.d2mh.npc_dota_hero_axe, .d2mh.npc_dota_hero_axe,.d2mh.hero-2 {
    width: 32px;
    height: 32px;
    background-position: -0x -0px;
}

.d2mh.npc_dota_hero_antimage, .d2mh.npc_dota_hero_antimage,.d2mh.hero-1 {
    width: 32px;
    height: 32px;
    background-position: -32x -0px;
}

.d2mh.npc_dota_hero_crystal_maiden, .d2mh.npc_dota_hero_crystal_maiden,.d2mh.hero-5 {
    width: 32px;
    height: 32px;
    background-position: -64x -0px;
}

.d2mh.npc_dota_hero_ancient_apparition, .d2mh.npc_dota_hero_ancient_apparition,.d2mh.hero-68 {
    width: 32px;
    height: 32px;
    background-position: -96x -0px;
}

.d2mh.npc_dota_hero_batrider, .d2mh.npc_dota_hero_batrider,.d2mh.hero-65 {
    width: 32px;
    height: 32px;
    background-position: -128x -0px;
}

.d2mh.npc_dota_hero_beastmaster, .d2mh.npc_dota_hero_beastmaster,.d2mh.hero-38 {
    width: 32px;
    height: 32px;
    background-position: -160x -0px;
}

.d2mh.npc_dota_hero_bloodseeker, .d2mh.npc_dota_hero_bloodseeker,.d2mh.hero-4 {
    width: 32px;
    height: 32px;
    background-position: -192x -0px;
}

.d2mh.npc_dota_hero_bounty_hunter, .d2mh.npc_dota_hero_bounty_hunter,.d2mh.hero-62 {
    width: 32px;
    height: 32px;
    background-position: -224x -0px;
}

.d2mh.npc_dota_hero_broodmother, .d2mh.npc_dota_hero_broodmother,.d2mh.hero-61 {
    width: 32px;
    height: 32px;
    background-position: -256x -0px;
}

.d2mh.npc_dota_hero_chen, .d2mh.npc_dota_hero_chen,.d2mh.hero-66 {
    width: 32px;
    height: 32px;
    background-position: -288x -0px;
}

.d2mh.npc_dota_hero_dark_seer, .d2mh.npc_dota_hero_dark_seer,.d2mh.hero-55 {
    width: 32px;
    height: 32px;
    background-position: -320x -0px;
}

.d2mh.npc_dota_hero_dazzle, .d2mh.npc_dota_hero_dazzle,.d2mh.hero-50 {
    width: 32px;
    height: 32px;
    background-position: -352x -0px;
}

.d2mh.npc_dota_hero_death_prophet, .d2mh.npc_dota_hero_death_prophet,.d2mh.hero-43 {
    width: 32px;
    height: 32px;
    background-position: -384x -0px;
}

.d2mh.npc_dota_hero_doom_bringer, .d2mh.npc_dota_hero_doom_bringer,.d2mh.hero-69 {
    width: 32px;
    height: 32px;
    background-position: -416x -0px;
}

.d2mh.npc_dota_hero_dragon_knight, .d2mh.npc_dota_hero_dragon_knight,.d2mh.hero-49 {
    width: 32px;
    height: 32px;
    background-position: -448x -0px;
}

.d2mh.npc_dota_hero_alchemist, .d2mh.npc_dota_hero_alchemist,.d2mh.hero-73 {
    width: 32px;
    height: 32px;
    background-position: -480x -0px;
}

.d2mh.npc_dota_hero_drow_ranger, .d2mh.npc_dota_hero_drow_ranger,.d2mh.hero-6 {
    width: 32px;
    height: 32px;
    background-position: -0x -32px;
}

.d2mh.npc_dota_hero_earthshaker, .d2mh.npc_dota_hero_earthshaker,.d2mh.hero-7 {
    width: 32px;
    height: 32px;
    background-position: -32x -32px;
}

.d2mh.npc_dota_hero_enchantress, .d2mh.npc_dota_hero_enchantress,.d2mh.hero-58 {
    width: 32px;
    height: 32px;
    background-position: -64x -32px;
}

.d2mh.npc_dota_hero_enigma, .d2mh.npc_dota_hero_enigma,.d2mh.hero-33 {
    width: 32px;
    height: 32px;
    background-position: -96x -32px;
}

.d2mh.npc_dota_hero_faceless_void, .d2mh.npc_dota_hero_faceless_void,.d2mh.hero-41 {
    width: 32px;
    height: 32px;
    background-position: -128x -32px;
}

.d2mh.npc_dota_hero_furion, .d2mh.npc_dota_hero_furion,.d2mh.hero-53 {
    width: 32px;
    height: 32px;
    background-position: -160x -32px;
}

.d2mh.npc_dota_hero_huskar, .d2mh.npc_dota_hero_huskar,.d2mh.hero-59 {
    width: 32px;
    height: 32px;
    background-position: -192x -32px;
}

.d2mh.npc_dota_hero_juggernaut, .d2mh.npc_dota_hero_juggernaut,.d2mh.hero-8 {
    width: 32px;
    height: 32px;
    background-position: -224x -32px;
}

.d2mh.npc_dota_hero_kunkka, .d2mh.npc_dota_hero_kunkka,.d2mh.hero-23 {
    width: 32px;
    height: 32px;
    background-position: -256x -32px;
}

.d2mh.npc_dota_hero_leshrac, .d2mh.npc_dota_hero_leshrac,.d2mh.hero-52 {
    width: 32px;
    height: 32px;
    background-position: -288x -32px;
}

.d2mh.npc_dota_hero_lich, .d2mh.npc_dota_hero_lich,.d2mh.hero-31 {
    width: 32px;
    height: 32px;
    background-position: -320x -32px;
}

.d2mh.npc_dota_hero_life_stealer, .d2mh.npc_dota_hero_life_stealer,.d2mh.hero-54 {
    width: 32px;
    height: 32px;
    background-position: -352x -32px;
}

.d2mh.npc_dota_hero_lina, .d2mh.npc_dota_hero_lina,.d2mh.hero-25 {
    width: 32px;
    height: 32px;
    background-position: -384x -32px;
}

.d2mh.npc_dota_hero_lion, .d2mh.npc_dota_hero_lion,.d2mh.hero-26 {
    width: 32px;
    height: 32px;
    background-position: -416x -32px;
}

.d2mh.npc_dota_hero_mirana, .d2mh.npc_dota_hero_mirana,.d2mh.hero-9 {
    width: 32px;
    height: 32px;
    background-position: -448x -32px;
}

.d2mh.npc_dota_hero_morphling, .d2mh.npc_dota_hero_morphling,.d2mh.hero-10 {
    width: 32px;
    height: 32px;
    background-position: -480x -32px;
}

.d2mh.npc_dota_hero_necrolyte, .d2mh.npc_dota_hero_necrolyte,.d2mh.hero-36 {
    width: 32px;
    height: 32px;
    background-position: -0x -64px;
}

.d2mh.npc_dota_hero_nevermore, .d2mh.npc_dota_hero_nevermore,.d2mh.hero-11 {
    width: 32px;
    height: 32px;
    background-position: -32x -64px;
}

.d2mh.npc_dota_hero_night_stalker, .d2mh.npc_dota_hero_night_stalker,.d2mh.hero-60 {
    width: 32px;
    height: 32px;
    background-position: -64x -64px;
}

.d2mh.npc_dota_hero_omniknight, .d2mh.npc_dota_hero_omniknight,.d2mh.hero-57 {
    width: 32px;
    height: 32px;
    background-position: -96x -64px;
}

.d2mh.npc_dota_hero_puck, .d2mh.npc_dota_hero_puck,.d2mh.hero-13 {
    width: 32px;
    height: 32px;
    background-position: -128x -64px;
}

.d2mh.npc_dota_hero_pudge, .d2mh.npc_dota_hero_pudge,.d2mh.hero-14 {
    width: 32px;
    height: 32px;
    background-position: -160x -64px;
}

.d2mh.npc_dota_hero_pugna, .d2mh.npc_dota_hero_pugna,.d2mh.hero-45 {
    width: 32px;
    height: 32px;
    background-position: -192x -64px;
}

.d2mh.npc_dota_hero_queenofpain, .d2mh.npc_dota_hero_queenofpain,.d2mh.hero-39 {
    width: 32px;
    height: 32px;
    background-position: -224x -64px;
}

.d2mh.npc_dota_hero_rattletrap, .d2mh.npc_dota_hero_rattletrap,.d2mh.hero-51 {
    width: 32px;
    height: 32px;
    background-position: -256x -64px;
}

.d2mh.npc_dota_hero_razor, .d2mh.npc_dota_hero_razor,.d2mh.hero-15 {
    width: 32px;
    height: 32px;
    background-position: -288x -64px;
}

.d2mh.npc_dota_hero_riki, .d2mh.npc_dota_hero_riki,.d2mh.hero-32 {
    width: 32px;
    height: 32px;
    background-position: -320x -64px;
}

.d2mh.npc_dota_hero_sand_king, .d2mh.npc_dota_hero_sand_king,.d2mh.hero-16 {
    width: 32px;
    height: 32px;
    background-position: -352x -64px;
}

.d2mh.npc_dota_hero_shadow_shaman, .d2mh.npc_dota_hero_shadow_shaman,.d2mh.hero-27 {
    width: 32px;
    height: 32px;
    background-position: -384x -64px;
}

.d2mh.npc_dota_hero_silencer, .d2mh.npc_dota_hero_silencer,.d2mh.hero-75 {
    width: 32px;
    height: 32px;
    background-position: -416x -64px;
}

.d2mh.npc_dota_hero_skeleton_king, .d2mh.npc_dota_hero_skeleton_king,.d2mh.hero-42 {
    width: 32px;
    height: 32px;
    background-position: -448x -64px;
}

.d2mh.npc_dota_hero_slardar, .d2mh.npc_dota_hero_slardar,.d2mh.hero-28 {
    width: 32px;
    height: 32px;
    background-position: -480x -64px;
}

.d2mh.npc_dota_hero_sniper, .d2mh.npc_dota_hero_sniper,.d2mh.hero-35 {
    width: 32px;
    height: 32px;
    background-position: -0x -96px;
}

.d2mh.npc_dota_hero_spectre, .d2mh.npc_dota_hero_spectre,.d2mh.hero-67 {
    width: 32px;
    height: 32px;
    background-position: -32x -96px;
}

.d2mh.npc_dota_hero_spirit_breaker, .d2mh.npc_dota_hero_spirit_breaker,.d2mh.hero-71 {
    width: 32px;
    height: 32px;
    background-position: -64x -96px;
}

.d2mh.npc_dota_hero_storm_spirit, .d2mh.npc_dota_hero_storm_spirit,.d2mh.hero-17 {
    width: 32px;
    height: 32px;
    background-position: -96x -96px;
}

.d2mh.npc_dota_hero_sven, .d2mh.npc_dota_hero_sven,.d2mh.hero-18 {
    width: 32px;
    height: 32px;
    background-position: -128x -96px;
}

.d2mh.npc_dota_hero_tidehunter, .d2mh.npc_dota_hero_tidehunter,.d2mh.hero-29 {
    width: 32px;
    height: 32px;
    background-position: -160x -96px;
}

.d2mh.npc_dota_hero_tinker, .d2mh.npc_dota_hero_tinker,.d2mh.hero-34 {
    width: 32px;
    height: 32px;
    background-position: -192x -96px;
}

.d2mh.npc_dota_hero_tiny, .d2mh.npc_dota_hero_tiny,.d2mh.hero-19 {
    width: 32px;
    height: 32px;
    background-position: -224x -96px;
}

.d2mh.npc_dota_hero_jakiro, .d2mh.npc_dota_hero_jakiro,.d2mh.hero-64 {
    width: 32px;
    height: 32px;
    background-position: -256x -96px;
}

.d2mh.npc_dota_hero_ursa, .d2mh.npc_dota_hero_ursa,.d2mh.hero-70 {
    width: 32px;
    height: 32px;
    background-position: -288x -96px;
}

.d2mh.npc_dota_hero_vengefulspirit, .d2mh.npc_dota_hero_vengefulspirit,.d2mh.hero-20 {
    width: 32px;
    height: 32px;
    background-position: -320x -96px;
}

.d2mh.npc_dota_hero_venomancer, .d2mh.npc_dota_hero_venomancer,.d2mh.hero-40 {
    width: 32px;
    height: 32px;
    background-position: -352x -96px;
}

.d2mh.npc_dota_hero_viper, .d2mh.npc_dota_hero_viper,.d2mh.hero-47 {
    width: 32px;
    height: 32px;
    background-position: -384x -96px;
}

.d2mh.npc_dota_hero_warlock, .d2mh.npc_dota_hero_warlock,.d2mh.hero-37 {
    width: 32px;
    height: 32px;
    background-position: -416x -96px;
}

.d2mh.npc_dota_hero_weaver, .d2mh.npc_dota_hero_weaver,.d2mh.hero-63 {
    width: 32px;
    height: 32px;
    background-position: -448x -96px;
}

.d2mh.npc_dota_hero_windrunner, .d2mh.npc_dota_hero_windrunner,.d2mh.hero-21 {
    width: 32px;
    height: 32px;
    background-position: -480x -96px;
}

.d2mh.npc_dota_hero_witch_doctor, .d2mh.npc_dota_hero_witch_doctor,.d2mh.hero-30 {
    width: 32px;
    height: 32px;
    background-position: -0x -128px;
}

.d2mh.npc_dota_hero_zuus, .d2mh.npc_dota_hero_zuus,.d2mh.hero-22 {
    width: 32px;
    height: 32px;
    background-position: -32x -128px;
}

.d2mh.npc_dota_hero_invoker, .d2mh.npc_dota_hero_invoker,.d2mh.hero-74 {
    width: 32px;
    height: 32px;
    background-position: -64x -128px;
}

.d2mh.npc_dota_hero_clinkz, .d2mh.npc_dota_hero_clinkz,.d2mh.hero-56 {
    width: 32px;
    height: 32px;
    background-position: -96x -128px;
}

.d2mh.npc_dota_hero_obsidian_destroyer, .d2mh.npc_dota_hero_obsidian_destroyer,.d2mh.hero-76 {
    width: 32px;
    height: 32px;
    background-position: -128x -128px;
}

.d2mh.npc_dota_hero_bane, .d2mh.npc_dota_hero_bane,.d2mh.hero-3 {
    width: 32px;
    height: 32px;
    background-position: -160x -128px;
}

.d2mh.npc_dota_hero_shadow_demon, .d2mh.npc_dota_hero_shadow_demon,.d2mh.hero-79 {
    width: 32px;
    height: 32px;
    background-position: -192x -128px;
}

.d2mh.npc_dota_hero_lycan, .d2mh.npc_dota_hero_lycan,.d2mh.hero-77 {
    width: 32px;
    height: 32px;
    background-position: -224x -128px;
}

.d2mh.npc_dota_hero_lone_druid, .d2mh.npc_dota_hero_lone_druid,.d2mh.hero-80 {
    width: 32px;
    height: 32px;
    background-position: -256x -128px;
}

.d2mh.npc_dota_hero_brewmaster, .d2mh.npc_dota_hero_brewmaster,.d2mh.hero-78 {
    width: 32px;
    height: 32px;
    background-position: -288x -128px;
}

.d2mh.npc_dota_hero_brewmaster_fire, .d2mh.brewmaster_fire {
    width: 32px;
    height: 32px;
    background-position: -320x -128px;
}

.d2mh.npc_dota_hero_brewmaster_storm, .d2mh.brewmaster_storm {
    width: 32px;
    height: 32px;
    background-position: -352x -128px;
}

.d2mh.npc_dota_hero_brewmaster_earth, .d2mh.brewmaster_earth {
    width: 32px;
    height: 32px;
    background-position: -384x -128px;
}

.d2mh.npc_dota_hero_phantom_lancer, .d2mh.npc_dota_hero_phantom_lancer,.d2mh.hero-12 {
    width: 32px;
    height: 32px;
    background-position: -416x -128px;
}

.d2mh.npc_dota_hero_chaos_knight, .d2mh.npc_dota_hero_chaos_knight,.d2mh.hero-81 {
    width: 32px;
    height: 32px;
    background-position: -448x -128px;
}

.d2mh.npc_dota_hero_phantom_assassin, .d2mh.npc_dota_hero_phantom_assassin,.d2mh.hero-44 {
    width: 32px;
    height: 32px;
    background-position: -480x -128px;
}

.d2mh.npc_dota_hero_treant, .d2mh.npc_dota_hero_treant,.d2mh.hero-83 {
    width: 32px;
    height: 32px;
    background-position: -0x -160px;
}

.d2mh.npc_dota_hero_luna, .d2mh.npc_dota_hero_luna,.d2mh.hero-48 {
    width: 32px;
    height: 32px;
    background-position: -32x -160px;
}

.d2mh.npc_dota_hero_ogre_magi, .d2mh.npc_dota_hero_ogre_magi,.d2mh.hero-84 {
    width: 32px;
    height: 32px;
    background-position: -64x -160px;
}

.d2mh.npc_dota_hero_gyrocopter, .d2mh.npc_dota_hero_gyrocopter,.d2mh.hero-72 {
    width: 32px;
    height: 32px;
    background-position: -96x -160px;
}

.d2mh.npc_dota_hero_rubick, .d2mh.npc_dota_hero_rubick,.d2mh.hero-86 {
    width: 32px;
    height: 32px;
    background-position: -128x -160px;
}

.d2mh.npc_dota_hero_wisp, .d2mh.npc_dota_hero_wisp,.d2mh.hero-91 {
    width: 32px;
    height: 32px;
    background-position: -160x -160px;
}

.d2mh.npc_dota_hero_disruptor, .d2mh.npc_dota_hero_disruptor,.d2mh.hero-87 {
    width: 32px;
    height: 32px;
    background-position: -192x -160px;
}

.d2mh.npc_dota_hero_undying, .d2mh.npc_dota_hero_undying,.d2mh.hero-85 {
    width: 32px;
    height: 32px;
    background-position: -224x -160px;
}

.d2mh.npc_dota_hero_naga_siren, .d2mh.npc_dota_hero_naga_siren,.d2mh.hero-89 {
    width: 32px;
    height: 32px;
    background-position: -256x -160px;
}

.d2mh.npc_dota_hero_templar_assassin, .d2mh.npc_dota_hero_templar_assassin,.d2mh.hero-46 {
    width: 32px;
    height: 32px;
    background-position: -288x -160px;
}

.d2mh.npc_dota_hero_nyx_assassin, .d2mh.npc_dota_hero_nyx_assassin,.d2mh.hero-88 {
    width: 32px;
    height: 32px;
    background-position: -320x -160px;
}

.d2mh.npc_dota_hero_keeper_of_the_light, .d2mh.npc_dota_hero_keeper_of_the_light,.d2mh.hero-90 {
    width: 32px;
    height: 32px;
    background-position: -352x -160px;
}

.d2mh.npc_dota_hero_visage, .d2mh.npc_dota_hero_visage,.d2mh.hero-92 {
    width: 32px;
    height: 32px;
    background-position: -384x -160px;
}

.d2mh.npc_dota_hero_magnataur, .d2mh.npc_dota_hero_magnataur,.d2mh.hero-97 {
    width: 32px;
    height: 32px;
    background-position: -416x -160px;
}

.d2mh.npc_dota_hero_meepo, .d2mh.npc_dota_hero_meepo,.d2mh.hero-82 {
    width: 32px;
    height: 32px;
    background-position: -448x -160px;
}

.d2mh.npc_dota_hero_centaur, .d2mh.npc_dota_hero_centaur,.d2mh.hero-96 {
    width: 32px;
    height: 32px;
    background-position: -480x -160px;
}

.d2mh.npc_dota_hero_slark, .d2mh.npc_dota_hero_slark,.d2mh.hero-93 {
    width: 32px;
    height: 32px;
    background-position: -0x -192px;
}

.d2mh.npc_dota_hero_medusa, .d2mh.npc_dota_hero_medusa,.d2mh.hero-94 {
    width: 32px;
    height: 32px;
    background-position: -32x -192px;
}

.d2mh.npc_dota_hero_shredder, .d2mh.npc_dota_hero_shredder,.d2mh.hero-98 {
    width: 32px;
    height: 32px;
    background-position: -64x -192px;
}

.d2mh.npc_dota_hero_troll_warlord, .d2mh.npc_dota_hero_troll_warlord,.d2mh.hero-95 {
    width: 32px;
    height: 32px;
    background-position: -96x -192px;
}

.d2mh.npc_dota_hero_tusk, .d2mh.npc_dota_hero_tusk,.d2mh.hero-100 {
    width: 32px;
    height: 32px;
    background-position: -128x -192px;
}

.d2mh.npc_dota_hero_bristleback, .d2mh.npc_dota_hero_bristleback,.d2mh.hero-99 {
    width: 32px;
    height: 32px;
    background-position: -160x -192px;
}

.d2mh.npc_dota_hero_skywrath_mage, .d2mh.npc_dota_hero_skywrath_mage,.d2mh.hero-101 {
    width: 32px;
    height: 32px;
    background-position: -192x -192px;
}

.d2mh.npc_dota_hero_elder_titan, .d2mh.npc_dota_hero_elder_titan,.d2mh.hero-103 {
    width: 32px;
    height: 32px;
    background-position: -224x -192px;
}

.d2mh.npc_dota_hero_abaddon, .d2mh.npc_dota_hero_abaddon,.d2mh.hero-102 {
    width: 32px;
    height: 32px;
    background-position: -256x -192px;
}

.d2mh.npc_dota_hero_ember_spirit, .d2mh.npc_dota_hero_ember_spirit,.d2mh.hero-106 {
    width: 32px;
    height: 32px;
    background-position: -288x -192px;
}

.d2mh.npc_dota_hero_legion_commander, .d2mh.npc_dota_hero_legion_commander,.d2mh.hero-104 {
    width: 32px;
    height: 32px;
    background-position: -320x -192px;
}

.d2mh.npc_dota_hero_earth_spirit, .d2mh.npc_dota_hero_earth_spirit,.d2mh.hero-107 {
    width: 32px;
    height: 32px;
    background-position: -352x -192px;
}

.d2mh.npc_dota_hero_terrorblade, .d2mh.npc_dota_hero_terrorblade,.d2mh.hero-109 {
    width: 32px;
    height: 32px;
    background-position: -384x -192px;
}

.d2mh.npc_dota_hero_phoenix, .d2mh.npc_dota_hero_phoenix,.d2mh.hero-110 {
    width: 32px;
    height: 32px;
    background-position: -416x -192px;
}

.d2mh.npc_dota_hero_lina_alt1, .d2mh.lina_alt1 {
    width: 32px;
    height: 32px;
    background-position: -480x -224px;
}

.d2mh.npc_dota_hero_legion_commander_alt1, .d2mh.legion_commander_alt1 {
    width: 32px;
    height: 32px;
    background-position: -448x -224px;
}

.d2mh.npc_dota_hero_terrorblade_alt1, .d2mh.terrorblade_alt1 {
    width: 32px;
    height: 32px;
    background-position: -416x -224px;
}
